.header__logo{
    background-color: rgb(244, 210, 229);
    display: grid;
    grid-template-areas: "logo busca";
    grid-template-columns: 10% 90%;
    grid-template-rows: auto;
}

.header__logo--img{grid-area: logo;}
.navbar_bg-light{grid-area: busca;}

.header__logo img{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

.navbar_bg-light{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.d-flex{
    width: 25%;
    margin-left: 75%;
    height: auto;
}

